@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã sinh viên: </p>
    <p>Họ và tên:</p>
    <p>Ngày sinh:</p>
    <p>Email:</p>
    <p>Điện thoại:</p>
    <p>Lớp: K23CNT2</p>
</div>



