@{
    ViewData["Title"] = "Thông tin sinh viên";
}


<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Mã sinh viên: 2300123232</p>
    <p>Họ và tên: Trịnh Văn Chung</p>
    <p>Email: chungtrinhj@gmail.com</p>
    <p>Điện thoại: 0978611889</p>
    <p>Lớp: K23CNT2</p>
</div>
