@model TvcLesson08Annotation.Models.TvcAccount

@{
    ViewData["Title"] = "TvcCreate";
}

<h1>TvcCreate</h1>

<h4>TvcAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TvcCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TvcId" class="control-label"></label>
                <input asp-for="TvcId" class="form-control" />
                <span asp-validation-for="TvcId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TvcFullName" class="control-label"></label>
                <input asp-for="TvcFullName" class="form-control" />
                <span asp-validation-for="TvcFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TvcEmail" class="control-label"></label>
                <input asp-for="TvcEmail" class="form-control" />
                <span asp-validation-for="TvcEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TvcPhone" class="control-label"></label>
                <input asp-for="TvcPhone" class="form-control" />
                <span asp-validation-for="TvcPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TvcAddress" class="control-label"></label>
                <input asp-for="TvcAddress" class="form-control" />
                <span asp-validation-for="TvcAddress" class="text-danger"></span>
            </div>
            <div class="form-group">e
                <label asp-for="TvcAvatar" class="control-label"></label>
                <input asp-for="TvcAvatar" class="form-control" />
                <span asp-validation-for="TvcAvatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TvcBirthday" class="control-label"></label>
                <input asp-for="TvcBirthday" class="form-control" />
                <span asp-validation-for="TvcBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TvcGender" class="control-label"></label>
                <input asp-for="TvcGender" class="form-control" />
                <span asp-validation-for="TvcGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TvcPassword" class="control-label"></label>
                <input asp-for="TvcPassword" class="form-control" />
                <span asp-validation-for="TvcPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TvcFacebook" class="control-label"></label>
                <input asp-for="TvcFacebook" class="form-control" />
                <span asp-validation-for="TvcFacebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
