
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>Thông tin sinh viên</h1>
    <hr/>
    <p>Mã sinh viên: 23000121212</p>
    <p>Họ và tên:Chung Trịnh</p>
    <p>Lớp: K23CNT2</p>
    <p>Email: chungtrinhj@gmail.com </p>
    <p>Điện thoại: 0978611889</p>
</div>


