@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Mã sinh viên: 230012332</p>
<p>Họ và tên: Trịnh Văn Chung</p>
<p>Email: chungtrinhj@gmail.com</p>
<p>Ngày sinh: 25/05/1979</p>
<p>Lớp: K23CNT2</p>
