
@{
    ViewData["Title"] = "Thông tin member";
    var tvcMember = ViewBag.tvcMember as TvcLesson05Model.Models.DataModels.TvcMember;

}



<div class="alert alert-danger">
    <h1>Thông tin member</h1>
    <hr/>
    <p>Member Id: @tvcMember.TvcMemberId</p>
    <p>UserName:@tvcMember.TvcUserName</p>
    <p>FullName: @tvcMember.TvcFullName</p>
    <p>Password:  @tvcMember.TvcPassword </p>
    <p>Email:  @tvcMember.TvcEmail </p>
</div>


