
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<h1>@ViewData["Title"]</h1>
<hr/>
<div class="alert alert-info">
    <p>Mã sinh viên: 2300012233</p>
    <p>Họ và tên: Trịnh Văn Chung</p>
    <p>Email: chungtrinhj@gmail.com</p>
    <p>Điện thoại: 0978.611.889</p>
    <p>Lớp: K23CNT2</p>
</div>
